<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
    </head>

    <body>
      <nav>
        <i class="fa-solid fa-people-group fa-beat" style="color: #b12556;"></i>
        <a href="/" class="<%= title=== 'fa-solid fa-house-chimney' ? 'active' : '' %>">
          <i id="home-btn" class="fa-solid fa-house-chimney"></i></a>
        <a href="/employees" class=<%=title==='All Employees' ? 'active' : '' %>>
          ALL EMPLOYEES
        </a>
        <% if (user) { %>
          <a href="/employees/new" class=<%=title==='Add New Employee' ? 'active' : '' %>>
            ADD EMPLOYEE
          </a>
          <a href="/profiles">USERS</a>
          <% if (user?.profile.avatar) { %>
            <div>
              <img id="home-page-avatar" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
            </div>
            <% } %>
              <a href="/auth/logout" class="right">
                Logout
              </a>
              <% } else { %>
                <div id="g_id_onload" data-client_id="<%= googleClientID %>" data-login_uri="/auth/google"
                  data-auto_prompt="false" data-prompt_parent_id="g_id_onload"></div>
                <div class="g_id_signin right" data-type="standard" data-size="large" data-theme="outline"
                  data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left"></div>
                <% } %>
      </nav>