<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
  <div>
    <% profiles.forEach(profile => { %>
     <img
     src="<%= profile.avatar %>" 
     alt="<%= profile.name %>'s avatar"
     >
     <div>
      <h1>
        <%= profile.name %>
      </h1>
     </div>
    <% }) %>
  </div>
</main>
<%- include('../partials/footer') %>